p-datepicker {

    --p-datepicker-date-border-radius: 0;
    --p-datepicker-date-width: auto;
    --p-datepicker-date-height: auto;

    .dia {
        border: black 1px solid;
        width: 4rem;
        height: 4rem;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        span.nDia {
            position: absolute;
            top: 0.15rem;
            left: 0.15rem;
        }
    }

}